@font-face {
  font-family: 'COCOGOOSE';
  src: url('//cdn.repository.webfont.com/webfonts/nomal/135011/47031/5e037602f629d80868e35790.gif?r=125678722813');
  src: url('//cdn.repository.webfont.com/webfonts/nomal/135011/47031/5e037602f629d80868e35790.gif?r=125678722813?#iefix') format('embedded-opentype'), url('//cdn.repository.webfont.com/webfonts/nomal/135011/47031/5e037602f629d80868e35790.png?r=125678722813') format('woff2'), url('//cdn.repository.webfont.com/webfonts/nomal/135011/47031/5e037602f629d80868e35790.bmp?r=125678722813') format('woff');
  font-weight: normal;
  font-style: normal;
}
