@keyframes sploosh {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 143, 184, 1);
    background: rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    background: rgba(255, 255, 255, 1);
  }
}

@keyframes bgRun {
  0% {
    transform: rotate(0) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

@keyframes photoHover {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(.8);
  }

  75% {
    transform: scaleX(1.2);
  }

  100% {
    transform: scaleX(1);
  }
}
