@keyframes sploosh {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 143, 184, 1);
    background: rgba(255, 255, 255, 0.7);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(37, 143, 184, 0);
    background: rgba(255, 255, 255, 1);
  }
}

@keyframes bgRun {
  0% {
    transform: rotate(0) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

@keyframes photoHover {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(.8);
  }

  75% {
    transform: scaleX(1.2);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  33.3% {
    transform: rotate(120deg);
  }

  66.6% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeBgColor {

  0%,
  100% {
    background: #99CC66;
  }

  33.3% {
    background: #FFFF66;
  }

  66.6% {
    background: #FF6666;
  }
}
