.resume-page__slide3 {
  position: relative;
  background: url('../images/resume-bg-3.jpg') center / cover no-repeat;

  .fp-tableCell {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(243, 243, 243, .5);
    }
  }

  &-echarts {
    width: 700px;
    height: 700px;
  }
}
